/* Set base font size for rem consistency */
html {
  font-size: 16px;
  font-family: 'PT Serif', serif;
}

/* Max content size*/
.content {
  max-width: 960px;
  margin: auto;
}

.titlePage {
  margin-left: 5%;
  margin-right: 5%;
}

/* Title for home page */
.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 90%;
}

.title h1 {
  font-size: 7rem;
}

/* Home page image */
.titleImage {
  border-radius: 10%;
  margin-left: 10%;
  width: auto;
  height: 20rem;
  display: block;
}

/* Configure page nav links as buttons */
.titleButtons li {
  display: inline-flex;
  justify-content: space-around;
  font-size: 1.75rem;
  background-color: white;
  margin: 30px;
  width: 120px;
  line-height: 4rem;
  text-decoration: none;
  color: gray;
  display: block;
}


.buttons li {
  display: inline-flex;
  justify-content: space-around;
  font-size: 1.75rem;
  background-color: white;
  margin: 30px;
  width: 120px;
  line-height: 4rem;
  padding-left: 0%;
}

/* Page link colour */

.buttons li a {
  text-decoration: none;
  color: gray;
  display: block;
}

/* Page link hover highlight */

.buttons li a:hover {
  text-decoration: none;
  color: red;
}

/* Active button highlight */

.buttons li a.active {
  background-color: black;
  color: white;
  padding: 8px;
}

/* Configure link on footer*/

.buttonFoot {
  background-color: white;
  color: gray;
  border: 0;
  outline: none;
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.buttonFoot:hover {
  background-color: white;
  color: red;
}

/* Add a white background colour to the top navigation */
.topNav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Change the colour of Nav links on hover */
.topNav a:hover {
  background-color: white;
  color: red;
}

/* Add a colour to the active/current link */
.topNav a.active {
  background-color: black;
  color: white;
}


/* Add background colour to blog content */
.blogContent {
  background-color: rgb(245, 245, 245);
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 10%;
  border-radius: 0.5%;
  font-family: 'Roboto', sans-serif;
}

.blogMedia {
  display:flex;
  justify-content: center;
}

.blogEntry {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Roboto', sans-serif;
}

/* Flex container for blog posts */
.flex-container {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  margin: 1rem;
  overflow: auto;
  height:auto;
}

/* Add box for blog posts */

.blogPost {
  height: auto;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

/*Center and size blog image*/

.blogMedia {
  border-radius: 1%;
  max-height: 100%;
}

/*Blog title image*/

.blogTitleImage {
  margin-bottom: 2rem;
}

.style {
  font-family: 'Roboto', sans-serif;
}

p {
  text-align: left;
  font-size: 1rem;
  color: rgb(41, 41, 41);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h3 {
  font-size: 1rem;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .title {
    display: block;
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    text-align: left;
    height: 10rem;
    width: 100%;
    overflow: hidden;
  }

  .titleImage {
    height: 0;
  }

  .buttons li {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.75rem;
    background-color: white;
    margin: 30px;
    width: 120px;
    line-height: 4rem;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}