* {
  max-width: 960px;
  margin: auto
  

}

.title {
  font-family: 'PT Serif', serif;
  font-size: 60px;
  text-align: left;
  margin-top: 20%;
  margin-left: 10%;
  margin-bottom: 20%
}

.buttonNav {
  background-color: white;
  color: gray;
  border: 0;
  outline: none;
  font-family: 'PT Serif', serif;
  font-size: 30px;
  margin-left: 10%;
  margin-bottom: 35%;
}

button:hover {
color: red;
}

.buttonFoot {
  background-color: white;
  color:gray;
  border: none;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  margin-right:10%;
  margin-left: 90%;

}