/* Set base font size for rem consistency */
html{
  font-size:16px
}

/* Make content responsive*/
.content {
  max-width: 960px;
  margin: auto;
}

/* Add consistent title for subsequent pages */
.title {
  display: flex;
  flex-direction: row;
  font-family: 'PT Serif', serif;
  font-size: 4rem;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  height: 30rem;
}

/* Make front page image rounded */
.titleImage {
  border-radius: 20%;
  margin-left: 15%;
  width: auto;
  height: 25rem;

}

/* Configure page nav links as buttons */

.buttons li{
  float: left;
  list-style: none;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  background-color: white;
  margin: 30px;
  width: 150px;
  line-height: 60px;
}

/* Configure page nav links as buttons */

.buttons li a {
  text-decoration: none;
  color: gray;
  display: block;
}

/* Configure page nav links as buttons */

.buttons li a:hover {
  text-decoration: none;
  color: red;
}

/* Configure Blog page nav links as buttons */

.buttonsBlog li{
  display: inline-block;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 1.75rem;
  background-color: white;
  margin: 30px;
  padding-bottom: 20%;
  width: 112px;
  line-height: 60px;
}

/* Blog buttons color */

.buttonsBlog li a {
  text-decoration: none;
  color: gray;
  display: block;
}

/* Blog Button Hover */

.buttonsBlog li a:hover {
  text-decoration: none;
  color: red;
}

/* Configure link on footer*/

.buttonFoot {
  background-color: white;
  color: gray;
  border: 0;
  outline: none;
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.buttonFoot:hover {
  background-color: white;
  color: red;
}

/* Add a white background colour to the top navigation */
.topNav {
  background-color: white;
  overflow: hidden;
  font-family: 'PT Serif', serif;
}

/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Change the colour of Nav links on hover */
.topNav a:hover {
  background-color: white;
  color: red;
}

/* Add a colour to the active/current link */
.topNav a.active {
  background-color: black;
  color: white;
}

/* Add background colour to blog content */
.blogContent {
  background-color: rgb(245, 245, 245);
  margin-left: 16px;
  margin-right: 16px;
}

/* Flex container for blog posts */
.flex-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  align-items: center;
  padding: 10px;
  margin: 16px;
}

/* Add box for blog posts */

#blogPost {
  height: 450px;
  overflow: auto;
}

p {
  padding-left: 30px;
  font-family: 'PT Serif', serif;
  font-size: 1rem;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 2.5rem;
  margin: auto;
  color: black;
  text-align: center;
}

