/* Make content responsive*/
.content {
  max-width: 960px;
  margin: auto;
}

/* Add consistent title for subsequent pages */
.title {
  display: flex;
  flex-direction: row;
  font-family: 'PT Serif', serif;
  font-size: 60px;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%
}

/* Make front page image rounded */
.titleImage {
  border-radius: 20%;
  margin-left: 15%;
  width: 35%;
  height: auto;
}

/* Configure page nav links */

.buttonNav {
  background-color: white;
  color: gray;
  border: 0;
  outline: none;
  font-family: 'PT Serif', serif;
  font-size: 30px;
  margin-left: 10%;
  margin-bottom: 25%;
  margin-top: 5%;
}

/* Change colour of links on hover */

button:hover {
  color: red;
}

/* Configure link on footer*/

.buttonFoot {
  background-color: white;
  color: gray;
  border: 0;
  outline: none;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 80%;
  margin-top: 5%;
}

/* Add a white background colour to the top navigation */
.topNav {
  background-color: white;
  overflow: hidden;
  font-family: 'PT Serif', serif;
}

/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the colour of Nav links on hover */
.topNav a:hover {
  background-color: white;
  color: red;
}

/* Add a colour to the active/current link */
.topNav a.active {
  background-color: black;
  color: white;
}

/* Add background colour to blog content */
.blogContent {
  background-color: rgb(245, 245, 245);
  margin-left: 16px;
  margin-right: 16px;
}

/* Flex container for blog posts */
.flex-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  align-items: center;
  padding: 10px;
  margin: 16px;
}

/* Add box for blog posts */

#blogPost {
  height: 450px;
  overflow: auto;
}

p {
  padding-left: 30px;
  font-family: 'PT Serif', serif;
  font-size: 15px;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 40px;
  margin: auto;
  color: black;
  text-align: center;
}

